--header "===----------------------------------------------------------------------===\n\n This source file is part of the CosmosSwift open source project.\n\n {file} last updated {created}\n\n Copyright © {year} Katalysis B.V. and the CosmosSwift project authors.\n Licensed under Apache License v2.0\n\n See LICENSE.txt for license information\n See CONTRIBUTORS.txt for the list of CosmosSwift project authors\n\n SPDX-License-Identifier: Apache-2.0\n\n===----------------------------------------------------------------------==="
